:root{
    --neutral900: hsl(227, 75%, 14%);
    --neutral800: hsl(226, 25%, 17%);
    --neutral700: hsl(225, 23%, 24%);
    --neutral600: hsl(226, 11%, 37%);
    --neutral300: hsl(0, 0%, 78%);
    --neutral200: hsl(217, 61%, 90%);
    --neutral100: hsl(0, 0%, 93%);
    --neutral0:   hsl(200, 60%, 99%);
    --red400: hsl(3, 86%, 64%);
    --red500: hsl(3, 71%, 56%);
    --red700: hsl(3, 77%, 44%);
    --lightGradient: linear-gradient(180deg, #EBF2FC 0%, #EEF8F9 100%);
    --darkGradient: linear-gradient(180deg, #040918 0%, #091540 100%);
}


*{
    margin: 0;
    box-sizing: border-box;
    font-family: "Noto Sans", sans-serif;
}

body{
    padding: 2rem 1rem;
    background-color: var(--neutral900);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


header{
    display: flex;
    justify-content:space-around;
    align-items: center;
    padding: 0.7rem;
    background-color: var(--neutral800);
    border-radius: 1rem;
}

.right{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.7rem;
    background-color: var(--neutral700);
    border-radius: 1rem;
}

.right:hover{
    cursor: pointer;
}

.right:focus{
    border: 0.1rem solid var(--red500);
}

.extension-tittle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

h1{
    color: var(--neutral0);
    text-align: center;
    margin: 2rem 0 1rem 0;
}

.tittle{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
}

.back{
    padding: 0.5rem 1.5rem;
    border-radius: 2rem;
    color: var(--neutral0);
    background-color: var(--neutral700);
    border: 0.1rem var(--neutral800);
}

.back:hover{
    cursor: pointer;
}

.back:focus{
    border: 0.1rem solid var(--red500);
}

.all{
    background-color: var(--red700);
    color: var(--neutral900);
    font-weight: 700;
}

.list{
    padding: 1rem;
    border-radius: 1.5rem;
    border: 0.15rem solid var(--neutral700);
    margin-top: 2rem;
    background-color: var(--neutral700);
    max-width: 25rem;
}

.top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.description{
    display: flex;
    flex-direction: column;
    justify-content:start;
    align-items: flex-start;
    width: 14rem;
}

.description h1{
    margin: 0;
    font-size: 1.6rem;
}

.description p{
    color: var(--neutral600);
    font-weight: 500;
    font-size: 0.9rem;
    margin: 0;
}

.button{
    border-radius: 2rem;
    border: 0.1rem solid var(--neutral600);
    padding: 0.5rem 1rem;
}

.button:hover{
    background-color: var(--red500);
    color: var(--neutral900);
    cursor: pointer;
}

.button:focus{
    border: 0.1rem solid var(--red500);
}

.action{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1.5rem 0 0 0;
    color: var(--neutral100);
}

.state{
    width: 2.8rem;
    border-radius: 2rem;
    background-color: var(--red400);
    display: flex;
    justify-content:right;
    align-items: center;
}
.active-list{
    display: block;
}

.inactive-list{
    display: none;
}

.state:hover{
    cursor: pointer;
}

.state:focus{
    border: 0.1rem solid var(--red700);
}

.circle{
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    background-color: var(--neutral0);
    margin: 0.1rem;
}

.state-left{
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: var(--neutral600);
    width: 2.8rem;
    border-radius: 2rem;
}

footer{
    font-size: 1rem;
    text-align: center;
    margin-top: 2rem;
    max-width: 28rem;
}

footer a {
    color: hsl(228, 45%, 44%);
}

@media (min-width: 700px){
    body{
        display: block;
    }

    main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    header{
        justify-content: space-between;
        width: 37rem;
        
    }

    .extension-tittle{
        flex-direction: row;
        justify-content: space-between;
        width: 37rem;
        padding: 1rem 0 ;
    }

    .tittle{
        gap: 1rem;
    }

    #list{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 1fr);
        gap: 1rem;
        place-items: center;
        place-content: center;
    }

    .list{
        padding: 1rem 1rem 0 1rem;
        height: 10rem;
        margin: 0;
        width: 18rem;
    }

    .top img{
        width: 2rem;
    }

    .description h1{
        font-size: 1rem;
    }

    .description p{
        font-size: 0.8rem;
        height: 3rem;
    }

    .button{
        font-size: 0.7rem;
        padding: 0.3rem 0.8rem;
    }

    footer{
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 100%;
        gap: 1rem;
    }

}

@media (min-width: 1044px){
    header{
        width: 56rem;
    }

    .extension-tittle{
        width: 56rem;
    }

    #list{
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(4,1fr);
    }
}